body {
        font-family: sans-serif;
        margin: 10px;
      }
      h2 {
        margin-bottom: 10px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        vertical-align: top;
        text-align: left;
        font-size: 14px;
        word-break: break-word;
      }
      thead {
        background-color: #f9f9f9;
      }
